// app global css in SCSS form

// .universal-class {
//   background-color: #f6f5f5; // Color de fondo principal
//   color: #333; // Color de texto principal
//   padding: 10px;
//   border-radius: 5px;
// }

// .universal-text {
//   font-size: 16px;
//   font-weight: bold;
//   color: #4a249d; // Color de acento
// }
body {
  background-color: $accent;
  height: 100vh;
  color: $text-grey;
}
.base-text-sound-background {
  color: $secondary;
  font-weight: bold;
}
.univelsal-base-text-sound-background {
  color: $dark;
  font-weight: bold;
}
// textos

.text-titles-base {
  color: $text-grey;
  font-weight: bold;
}
.text-subtitles-base {
  color: $text;
  font-weight: bold;
}
.text-base {
  color: $primary;
  font-weight: bold;
}
